{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="container">
        <h1>Hotel Statistics Dashboard</h1>

        <!-- Stats Sections -->
        <div class="stats-section">
            <!-- MOst popular meal plans -->
            <div class="stats-card" id="mostPopularMeals">
                <h3>Most Popular Meal Plans</h3>
                <canvas id="mealsChart"></canvas>
            </div>          

            <!-- Reservations by Month -->
            <div class="stats-card" id="reservationsByMonth">
                <h3>Reservations per Month</h3>

                <!-- Year Selection Dropdown -->
                <label for="yearSelect">Select Year:</label>
                <select id="yearFilterRes">
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>

                <canvas id="reservationsChart"></canvas>
            </div>

            <!-- Average Stay per Month -->
            <div class="stats-card" id="averageStay">
                <h3>Average Stay per Month</h3>
                <label for="yearSelect">Select Year:</label>
                <select id="yearFilterAvgStay">
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>
                <canvas id="averageStayChart"></canvas>
            </div>

            <div class="stats-card" id="topCountries">
                <h3>Top Countries</h3>
                <ul>
                    <li class="placeholder">List of top 10 countries from all visitors</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Add JS File -->
    <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>
